<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995746020234-7fbhmrd8t57i8qboe2va385ojc6s2icl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995746020234-7fbhmrd8t57i8qboe2va385ojc6s2icl</string>
	<key>API_KEY</key>
	<string>AIzaSyATa8yqXnqBYVMuSSGsEfvMPm6CYq_i3iU</string>
	<key>GCM_SENDER_ID</key>
	<string>995746020234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kopiApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>app-kopi</string>
	<key>STORAGE_BUCKET</key>
	<string>app-kopi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995746020234:ios:6c34ac0aa0ac2f1d316673</string>
</dict>
</plist>